header {
  text-align: center;
  padding: 10px;
}
body {
  font-family: sans-serif;
}
.main-wrap {
  border: 2px solid red;
  width: 75%;
  margin: auto;
  height: 60vh;
  display: flex;
  flex-direction: column;
}
.top-info {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
}
.top-info > * {
  padding: 10px;
}
.highscores {
  color: rgb(223, 25, 216);
  font-weight: bold;
}
.highscores:hover {
  color: rgb(114, 7, 114);
}
.mainView {
  /*this is the view where the user clicks and the quiz begins*/
  text-align: center;
}
.mainView button {
  background-color: purple;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
.mainView button:hover {
  background-color: orchid;
  font-weight: bold;
}
/* .questionArea {
  flex: 1;
  border: 2px solid yellow;
  padding: 20px;
}
.innerarea {
  border: 2px solid red;
} */
.options {
  padding: 10px;
  background-color: purple;
  color: white;
  font-weight: bold;
  width: 20%;
  margin: 10px;
  border-radius: 10px;
  text-align: left;
}
.options:hover {
  background-color: orchid;
}
#questionWrapper {
  margin: 60px;
  border: 2px solid green;
}
#questionWrapper > p {
  text-align: left;
}
.resultEl {
  margin: 60px auto auto 150px;
}
.resultEl h1 {
  font-size: 35px;
  font-weight: bold;
}
.resultEl p {
  color: red;
  font-size: 30px;
}
.questionEl {
  font-size: 25px;
  font-weight: bold;
  margin-left: 40px;
}
.answerDisplay {
  color: grey;
  border-top: 5px solid grey;
  margin: 60px;
  margin-top: -50px;
  font-style: italic;
}
.modalbody {
  border: 2px solid hotpink;
  width: 75%;
  margin: auto;
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modalContent {
  background-color: thistle;
  padding: 20px;
  border: 2px solid forestgreen;
  width: 60%;
  margin: 8% auto;
}
.modalContent p {
  background: linear-gradient(rgb(70, 157, 185), blue);
  color: white;
  padding: 7px;
  margin-bottom: -10px;
}
.modalContent button {
  margin-top: 20px;
  border-radius: 10px;
  background-color: purple;
  color: white;
  padding: 10px;
}
