header {
  text-align: center;
  padding: 10px;
}
body {
  font-family: sans-serif;
}
.main-wrap {
  border: 2px solid red;
  width: 75%;
  margin: auto;
  height: 60vh;
  display: flex;
  flex-direction: column;
}
.top-info {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
}
.top-info > * {
  padding: 10px;
}
.highscores {
  color: rgb(223, 25, 216);
  font-weight: bold;
}
.highscores:hover {
  color: rgb(114, 7, 114);
}
.mainView {
  /*this is the view where the user clicks and the quiz begins*/
  text-align: center;
}
.mainView button {
  background-color: purple;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}
.mainView button:hover {
  background-color: orchid;
  font-weight: bold;
}
/* .questionArea {
  flex: 1;
  border: 2px solid yellow;
  padding: 20px;
}
.innerarea {
  border: 2px solid red;
} */
